<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-waste Management</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        body{
            background-image: url("/images/background.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        .container{
            display: flex;
            flex-direction: column;
        }
        .header{
            margin: 10px;
        }
        .header a{
            margin: 10px;
            padding: 20px;
            color: white;
            font-size: 20px;
            text-decoration: none;
        }

        .header a:hover{
            text-decoration: underline;
        }

    .all-items{
        width: 50%;
        margin-left:200px ;
        margin-top: 10px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.877);
        display: flex;
        flex-direction: column;
        border: 1px solid gray;
        border-radius: 5px;
        box-shadow: 8px 10px 18px gray;
    }
    .upper{
        display: flex;
    }
    .left,.right{
        margin: 10px;
    }
    .right{
        padding-top:30px ;
    }
    .right pre{
        font-family: Arial, Helvetica, sans-serif;
    }
    .right p{
        padding: 8px;
        margin-top: 5px;
        border: 1px solid rgba(161, 159, 159, 0.767);
    }
    h2{
        margin: 0;
        padding: 0;
    }
    img{
        border: 1px solid black;
        width: 300px;
        height: 200px;
    }
    #edit{
        width: 20%;
        padding: 8px 15px;
        border: 2px solid rgb(185, 42, 185);
        background: none;
        border-radius: 10px;
    }
    #delete{
        width: 20%;
        padding: 8px 15px;
        border: 2px solid rgb(228, 7, 7);
        background: none;
        border-radius: 10px;
    }
    #edit:hover{
        background-color:rgb(185, 42, 185) ;
        color: white;
    }
    #delete:hover{
        background-color:rgb(228, 7, 7) ;
        color: white;
    }
    .stock{
        text-align: right;
        padding: 10px;
        padding-top: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: red;
        text-shadow: 5px 5px 10px gray;
    }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="/myAccount/<%=employee._id%>">Home</a>
        </div>
        
        <% items.forEach(function(item){ %>
            <%if(employee.email==item.email){%>
                <div class="all-items">
                    <div class="upper">
                        <div class="left">
                            <h2><%=item.type%></h2>
                            <img src="<%=item.image%>" alt="item-image">
                        </div>
                        <div class="right">
                            <div class="stock">
                                <% if(item.sold==true){ %>
                                    Sold-Out
                                <% } %>
                            </div>
                            <pre>Price : <%=item.price%></pre> 
                            <pre>Quantity : <%=item.quantity%></pre>
                            <p><%=item.info%></p>
                            <p>Email : <%=item.email%></p> 
                        </div>
                    </div>
                    <div class="lower">
                        <a href="/items/<%=item._id%>/edit"><button id="edit">Edit</button></a>
                        <a href="/deleteItemFromItemList/<%=item._id%>_<%=employee._id%>"><button id="delete">Delete</button></a>  
                    </div>
    
                </div>
            <%}%>
        <% }) %>
    </div>
</body>
</html>